In [70]:
def getflow(r):
    import json
    import pymysql
    import pandas as pd
    conn = pymysql.connect(host="127.0.0.1",user="root",password="mysql",database="keen_its",charset="utf8")
    #conn = pymysql.connect(host="172.168.16.249",user="keen",password="keen123456",database="keen_its",charset="utf8")
    data = pd.read_sql('select * from t_regional_hour_flow',conn)
    #data = data[data.columns[1:]]
    flow_h = []
    flow_t = []
    flow_z = []
    flow_w = []
    flow_p = []
    for qy in set(data['regional']):
        data1 = data[data['regional']==qy]
        for rq in set(data['date']):
            data2 = data1[data1['date']==rq]
            datah = [qy,rq,u'小时',[str(x) for x in list(data2[data2.columns[3:]].sum())]]
            flow_h.append(datah)
            datat = {'date':rq,'values':{'regional':qy,'values':str(list(data2.sum(axis=1))[0])}}
            flowt = []
            flowt.append(datat)
            for i in flowt:
                if i['date']==r:
                    flow_t.append(i['values'])
            
            dataz = {'date':rq,'values':{'regional':qy,'values':str(list(data2[['time7','time8','time9']].sum(axis=1))[0])}}
            flowz = []
            flowz.append(dataz)
            for i in flowz:
            #     if i['date'] in set(data['date']):
                if i['date']==r:
                    flow_z.append(i['values'])
            
            dataw = {'date':rq,'values':{'regional':qy,'values':str(list(data2[['time17','time18','time19']].sum(axis=1))[0])}}
            floww = []
            floww.append(dataw)
            for i in floww:
                if i['date']==r:
                    flow_w.append(i['values'])
                    
            datap = {'date':rq,'values':{'regional':qy,'values':str(list(data2[data2.columns[9:23]].sum(axis=1))[0])}}
            flowp = []
            flowp.append(datap)
            for i in flowp:
                if i['date']==r:
                    flow_p.append(i['values'])
                    
    return flow_h,flow_t,flow_z,flow_w,flow_p

def getflows(r):
    import json  
    flow = getflow(r)
    return  flow

In [64]:
datap = {'date':rq,'values':{'regional':qy,'values':str(list(data2[data2.columns[9:23]].sum(axis=1))[0])}}
flowp = []
flowp.append(datap)
for i in flowp:
    if i['date']==r:
        flow_p.append(i['values'])

In [71]:
getflows('2019-12-1')[1]

[{'regional': '520111', 'values': '2445782'},
 {'regional': '520103', 'values': '8973670'},
 {'regional': '520113', 'values': '1341234'},
 {'regional': '520102', 'values': '4251363'},
 {'regional': '520115', 'values': '7734972'},
 {'regional': '520112', 'values': '746664'}]

In [46]:
flowz = []
for qy in set(data['regional']):
    data1 = data[data['regional']==qy]
    for rq in set(data['date']):
        data2 = data1[data1['date']==rq]
        dataz = {'date':rq,'values':{'regional':qy,'values':str(list(data2[['time7','time8','time9']].sum(axis=1))[0])}}
        flowz.append(dataz)
flow_z = []
for i in flowz:
#     if i['date'] in set(data['date']):
    if i['date']=='2019-12-1':
        flow_z.append(i['values'])
        
flow_z

[{'regional': '520111', 'values': '310854'},
 {'regional': '520103', 'values': '1100044'},
 {'regional': '520113', 'values': '190840'},
 {'regional': '520102', 'values': '521364'},
 {'regional': '520115', 'values': '1025254'},
 {'regional': '520112', 'values': '105239'}]

In [17]:
import json
import pymysql
import pandas as pd
conn = pymysql.connect(host="127.0.0.1",user="root",password="mysql",database="keen_its",charset="utf8")
#conn = pymysql.connect(host="172.168.16.249",user="keen",password="keen123456",database="keen_its",charset="utf8")
data = pd.read_sql('select * from t_regional_hour_flow',conn)
#data = data[data.columns[1:]]
flow_h = []
flow_t = []
flow_z = []
flow_w = []
flow_p = []
for qy in set(data['regional']):
    data1 = data[data['regional']==qy]
    for rq in set(data['date']):
        data2 = data1[data1['date']==rq]
        datah = [qy,rq,u'小时',[str(x) for x in list(data2[data2.columns[3:]].sum())]]
        flow_h.append(datah)
        datat = [qy,rq,r'全天',str(list(data2.sum(axis=1))[0])]
        flow_t.append(datat)
        dataz = [qy,rq,r'早高峰',str(list(data2[['time7','time8','time9']].sum(axis=1))[0])]
        print(dataz)
        flow_z.append(dataz)
        dataw = [qy,rq,r'晚高峰',str(list(data2[['time17','time18','time19']].sum(axis=1))[0])]
        flow_w.append(dataw)
        datap = [qy,rq,r'平峰',str(list(data2[data2.columns[9:23]].sum(axis=1))[0])]
        print(datap)
        flow_p.append(datap)

['520111', '2019-12-1', '早高峰', '310854']
['520111', '2019-12-1', '平峰', '1955390']
['520111', '2019-12-2', '早高峰', '310854']
['520111', '2019-12-2', '平峰', '1955390']
['520111', '2019-12-3', '早高峰', '310854']
['520111', '2019-12-3', '平峰', '1955390']
['520111', '2019-12-5', '早高峰', '310854']
['520111', '2019-12-5', '平峰', '1955390']
['520111', '2019-12-4', '早高峰', '310854']
['520111', '2019-12-4', '平峰', '1955390']
['520103', '2019-12-1', '早高峰', '1100044']
['520103', '2019-12-1', '平峰', '6706420']
['520103', '2019-12-2', '早高峰', '1100044']
['520103', '2019-12-2', '平峰', '6706420']
['520103', '2019-12-3', '早高峰', '1100044']
['520103', '2019-12-3', '平峰', '6706420']
['520103', '2019-12-5', '早高峰', '1100044']
['520103', '2019-12-5', '平峰', '6706420']
['520103', '2019-12-4', '早高峰', '1100044']
['520103', '2019-12-4', '平峰', '6706420']
['520113', '2019-12-1', '早高峰', '190840']
['520113', '2019-12-1', '平峰', '1101851']
['520113', '2019-12-2', '早高峰', '190840']
['520113', '2019-12-2', '平峰', '1101851']
['520113', '2019-12-3', '早高峰', '190840']
['520113', '2019-12-3', '平峰', '1101851']
['520113', '2019-12-5', '早高峰', '190840']
['520113', '2019-12-5', '平峰', '1101851']
['520113', '2019-12-4', '早高峰', '190840']
['520113', '2019-12-4', '平峰', '1101851']
['520102', '2019-12-1', '早高峰', '521364']
['520102', '2019-12-1', '平峰', '3258407']
['520102', '2019-12-2', '早高峰', '521364']
['520102', '2019-12-2', '平峰', '3258407']
['520102', '2019-12-3', '早高峰', '521364']
['520102', '2019-12-3', '平峰', '3258407']
['520102', '2019-12-5', '早高峰', '521364']
['520102', '2019-12-5', '平峰', '3258407']
['520102', '2019-12-4', '早高峰', '521364']
['520102', '2019-12-4', '平峰', '3258407']
['520115', '2019-12-1', '早高峰', '1025254']
['520115', '2019-12-1', '平峰', '6452049']
['520115', '2019-12-2', '早高峰', '1025254']
['520115', '2019-12-2', '平峰', '6452049']
['520115', '2019-12-3', '早高峰', '1025254']
['520115', '2019-12-3', '平峰', '6452049']
['520115', '2019-12-5', '早高峰', '1025254']
['520115', '2019-12-5', '平峰', '6452049']
['520115', '2019-12-4', '早高峰', '1025254']
['520115', '2019-12-4', '平峰', '6452049']
['520112', '2019-12-1', '早高峰', '105239']
['520112', '2019-12-1', '平峰', '609770']
['520112', '2019-12-2', '早高峰', '105239']
['520112', '2019-12-2', '平峰', '609770']
['520112', '2019-12-3', '早高峰', '105239']
['520112', '2019-12-3', '平峰', '609770']
['520112', '2019-12-5', '早高峰', '105239']
['520112', '2019-12-5', '平峰', '609770']
['520112', '2019-12-4', '早高峰', '105239']
['520112', '2019-12-4', '平峰', '609770']

In [42]:
flow_z = []
for qy in set(data['regional']):
    data1 = data[data['regional']==qy]
    for rq in set(data['date']):
        data2 = data1[data1['date']==rq]
        dataz = {'date':rq,'values':{'regional':qy,'values':str(list(data2[['time7','time8','time9']].sum(axis=1))[0])}}
        flow_z.append(dataz)
        
flowz = []
for i in flow_z:
#     if i['date'] in set(data['date']):
    if i['date']=='2019-12-1':
        flowz.append(i['values'])
        
flowz

[{'regional': '520111', 'values': '310854'},
 {'regional': '520103', 'values': '1100044'},
 {'regional': '520113', 'values': '190840'},
 {'regional': '520102', 'values': '521364'},
 {'regional': '520115', 'values': '1025254'},
 {'regional': '520112', 'values': '105239'}]

In [19]:
conn = pymysql.connect(host="127.0.0.1",user="root",password="mysql",database="django_jk1",charset="utf8")
#conn = pymysql.connect(host="172.168.16.70",user="root",password="root",database="django_jk1",charset="utf8")
context = pd.read_sql('select city,dat from meimei',conn)
Pie=[]
for i in range(len(context)):
    a={"name":str(context['city'][i]),"value":str(context['dat'][i])}
    Pie.append(a)
    
Pie

[{'name': '贵阳', 'value': '5000'},
 {'name': '成都', 'value': '5500'},
 {'name': '重庆', 'value': '6000'},
 {'name': '广州', 'value': '6800'},
 {'name': '深圳', 'value': '7100'},
 {'name': '上海', 'value': '7800'}]